<div class="app-container">
  <aside class="empresas-panel" (click)="onClickOutside()">
    <div class="panel-header">
      <h2>ENERGÍA</h2>
    </div>
    
    <nav class="panel-nav">
      <a class="nav-item" [class.active]="rutaActual === '/inicio'" (click)="irAInicio()">🏠 Inicio</a>
      <a class="nav-item" [class.active]="rutaActual === '/'" (click)="irAEnergia()">⚡ Energia</a>
      <a class="nav-item" [class.active]="rutaActual === '/ajustes'" (click)="irAAjustes()">⚙️ Ajustes</a>
    </nav>
  </aside>

  <main class="main">
    <app-header [pageTitle]="pageTitle"></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
